@charset "UTF-8";
/* CSS Document */

#admin_links {
	width: 400px;
	height: 130px;
	margin: 0 auto;
}

#admin_links div {
	text-align: center;
	line-height:50px;
	display:table-cell;
	vertical-align: middle;
	margin: 2% 0 0 2%;
	width: 47%;
	float: left;
}

#admin_links img {
	max-width: 50px;
	max-height: 30px;
	position: relative;
	left: 12px;
	bottom: -8px;
}