@charset "UTF-8";
/* CSS Document */

#pop_up_wrapper {
	width: 100px;
	height: 250px;
	position: absolute;
	top: 175px;
}

#pop_up_wrapper a {
	text-decoration: none;
}

.pop_up {
	position: relative;
	width: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	font-size: 2em;
	background-color: #c4161c;
	border-radius: 30px;
	margin: 0 0 20px 0;
	left: 12px;
}

.pop_up:after {
	content: " ";
	position: absolute;
  top: 15px;
	left: -26px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: #c4161c;
}

