@charset "UTF-8";
/* CSS Document */

#add_button {
	width: 30px;
	height: 30px;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 20px;
	cursor: pointer;  
    position: relative;
}
/*horizontal line*/
#add_button:before {
  content: " ";
  position: absolute;
  top: 13px; /*44%*/
  left: 5px; /*16%*/
  width: 20px; /*70%*/
  height: 4px; /*14%*/
  background-color: #FFF;
}
/*vertical line*/
#add_button:after {
  content: " ";
  position: absolute;
  top: 5px; /*16%*/
  left: 13px; /*44%*/
  width: 4px; /*14%*/
  height: 20px; /*70%*/
  background-color: #FFF;
}

.close_button {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 3px;
	right: 3px;
	display: none;
	cursor: pointer;
}
/*first line of the cross*/
.close_button:after {
  content: " ";
  position: absolute;
  top: 0; /*16%*/
  left: 8px; /*44%*/
  width: 3px; /*14%*/
  height: 20px; /*70%*/
	background-color: #FFF;
	-moz-transform:rotate(45deg); /* Firefox 3.6 Firefox 4 */
	-webkit-transform:rotate(45deg); /* Safari */
	-o-transform:rotate(45deg); /* Opera */
	-ms-transform:rotate(45deg); /* IE9 */
	transform:rotate(45deg); /* W3C */
}
/*second line of the cross*/
.close_button:before {
  content: " ";
  position: absolute;
  top: 0; /*16%*/
  left: 8px; /*44%*/
  width: 3px; /*14%*/
  height: 20px; /*70%*/
	background-color: #FFF;
	-moz-transform:rotate(-45deg); /* Firefox 3.6 Firefox 4 */
	-webkit-transform:rotate(-45deg); /* Safari */
	-o-transform:rotate(-45deg); /* Opera */
	-ms-transform:rotate(-45deg); /* IE9 */
	transform:rotate(-45deg); /* W3C */
}

.close_button_black:after, .close_button_black:before {
	background-color: #000;
}

.upload_button {
  font-size: 16px;
	width: 1.4em;
	height: 1.4em;
	position: absolute;
	top: 0.19em;
	right: 1.655em;
	cursor: pointer;
	display: none;
}
.upload_button:before {
  content: " ";
  position: absolute;
  top: -0.636em;
  left: 0.063em;
  width: 0;
  height: 0;
  border: 0.636em solid transparent;
  border-bottom-color: #FFF;
}
.upload_button:after {
  content: " ";
  position: absolute;
  top: 0.382em;
  left: 0.382em;
  width: 0.636em;
  height: 0.764em;
	background-color: #FFF;
}
.upload_button_black:after {
	background-color: #000;
}
.upload_button_black:before {
	border-bottom-color: #000;
}

.editable {
	cursor: text;
}
