@charset "UTF-8";
/* CSS Document */

h1 {
  padding-top: 100px;
}

#add_button {
  left: 610px;
	top: 0px;
}

#list {
  position: relative;
  top: 0px;
  width:100%;
  margin: 0 auto;
  height: 320px;
  padding: 0 0 35px 0;
  overflow-y: scroll;
}

.list_entry {
  position: relative;
  text-decoration: none;
  display: block;
  width: 400px;
  margin: 10px auto;
  padding: 5px 10px;
}

input[type="text"] {
	width: 360px;
}

.list_entry a {
  color: #FFF;
  text-decoration: none;
}
.list_entry:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.list_entry:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.color {
	color: #FFF;
	background-color: #023e88;
	cursor: er;
}

.color:hover {
  color: #FFF;
  background-color: #5576c7;
}

}