@charset "UTF-8";
/* CSS Document */

input[type="text"], textarea {
	width: 570px;
	margin: 0;
}

input[type="checkbox"] {
	margin: 0px 8px;
}

h1 {
  text-transform: uppercase;
  color: green;
  padding-top: 100px;
}

h2{
  font-style: italic;
}

#wrapper {
  line-height:1.25em;
}

#product_details_container {
  position: relative;
  top: 140px;
  width: 700px;
  margin: 0 auto;
}


#product_name, #product_description , #product textarea{
  width: 650px;
}

#product_minimum_limit {
	width: 200px;
}


#barcode_picture {
	float:right;
}

#ingoing , #outgoing{
	margin-top: 3em;
	width: 49%;
	height: 3em;
    border-radius: 5px;
}

#ingoing img, #outgoing img {
	margin-bottom: -1em;
	max-width: 4.5em;
	max-height: 3em;
	position: relative;
	left: 1em;
	top: -0.4em;
}

#ok {
	display: none;
}

.hidden {
	display: none;
}

.restriction_container {
	float: left;
}

@media only all and (max-width:70em) {
	
	
	h1 {
	  padding-top: 0px;
	}
	
	#product_details_container {
	  padding: 0 0;
	  margin: 0 0;
	  position: static;
	  width: 100%;
	}
	
	#product {
		margin: 0 5%;
		margin-top: 4em;
	}
	
	input[type="text"], textarea {
		width: 90%;
		margin: 0;
	}
	
	#product_name, #product_description , #product textarea{
		width: 90%;
	}
	
	#product_minimum_limit {
		width: 45%;
	}
	#product select {
		width: 45%;
	}
	
	#ingoing, #outgoing {
		margin: 0 5%;
		width: 88%;
		margin-top: 0.5em;
	}
	
	#ok {
		position: static;
		margin-top: 1em;
		margin-bottom: 1em;
		float: right;
	}
	
}