@charset "UTF-8";
/* CSS Document */


@media only all and (max-width:70em) {

@import url("reset.css");
	
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: Terminal-Dosis-Medium, Verdana, Geneva, sans-serif;
	font-size: 5vw;
	background-image: none;
	background-color: white;
}

#wrapper {
	margin: 0 0;
	padding: 0 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: white;
	clear: left;
	box-shadow: 0px 0px 0px transparent;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid transparent;
}
#wrapper a {
	width: 50%;
}


button {
	border: none;	
}


/*Allgemeine Formatierungen*/
h1 {
	position: static;
	padding: 0;
	margin-top: 2.5em;
	margin-bottom: 1em;
	text-align: center;
	font-size: 2em;
	width: 100%;
}
h1 span {
	color: #023e88;
}

h2 {
  text-align: center;
  font-size: 1.25em;
}

h3 {
  font-size: 1.15em;
  padding: 5px 0;
}

p {
  margin: 0.5em 0;
}

textarea,input[type="text"],input[type="number"], input[type="checkbox"], input[type="password"], select {
	font-family: Terminal-Dosis-Medium, Verdana, Geneva, sans-serif;
	font-size:1em;
	padding: 1em 0.5em;/*instead of     line-height:3em;*/
    
    color:#555;
	-webkit-border-radius:0.1em;
	-moz-border-radius:0.1em;
	border-radius:0.1em;
	border:0.05em solid #ccc;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}


textarea:focus,input[type="text"]:focus,input[type="number"]:focus input[type="password"]:focus, textarea:focus {
	border-color:rgba(82,168,236,0.8);
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)
}

/*Allgemeine Positionierungen/Formatierungen der Container*/
#distance {
	width: 0;
	height: 0;
	margin-bottom: 0;
	float: left;
}


#content {
  width: 100%;
  margin: 0 auto;
}



/*BUTTONS*/
/*Was alle gemeinsam haben:*/
#registration, #logout, #back, #forward, #edit, #ok, #cancel, #remove_button, #ingoing, #outgoing {
  line-height: 1.8em;
  text-align: center;
  font-size: 0.9em;
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: 3px 20px;
  z-index: 1;
}
#registration, #logout, #back, #forward, #edit, #ok, #cancel, #remove_button{
	position: absolute;
}
/*Speziellere Formatierungen, Position usw...*/
#registration, #logout {
	position: absolute;
	right: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#back {
  position: absolute;
	left: 0px;
	top: 21px;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}


#forward {
	right: 0;
	bottom: 20px;
	z-index: 1;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	text-align: right;
}

#edit {
	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#ok {
	position: absolute;
	right: 0;
	bottom: 20px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
#cancel {
	position: absolute;
	right: 70px;
	bottom: 20px;
	border-radius: 5px;
}
#remove_button {
	position: absolute;
	left: 0;
	bottom: 20px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 1;
}

/*Allgemeine Design Klassen*/
.color {
	color: #FFF;
	background-color: #023e88;
	cursor: er;
}
.color_without_hover {
	color: #FFF;
	background-color: #023e88;
}
.color:hover {
  color: #FFF;
  background-color: #5576c7;	
}

.color_discreet:hover{
  color: #FFF;
  background-color: #5576c7;
}
.color_discreet {
  color: #555;
  background-color: #CCC;
	cursor: pointer;
}
.color_discreet_without_hover {
  color: #555;
  background-color: #CCC;
}

.color_attention {
  color: white;
  background-color: #F00;
}
.color_attention:hover {
  color: white;
  background-color: #600;
}


.creator_admin{
  background-color: #FAFAFA;
  border: 1px solid #023e88 !important;
}


/*Speziell für die Login-Seite. Sollten wir auslagern*/
#login_form, #register_form{
	position: static;
	padding-top: 0;
	width: 88%;
	margin: 0 5%;
	text-align: center;
}

#login_form a {
	text-decoration: none;
}
#login_form input, #login_form input[type="text"], #register_form input, #search_form input[type="text"] {
	margin: 0 0;
	margin-bottom: 0.5em;
	width: 95%;
	display: block;
}

#login_button {
  line-height: 3em;
  font-size: 1em;
  border: 0;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 0 !important;
  margin: 0 0 0 0 !important;
  width: 100% !important;
  cursor:pointer;
}


#forgotten p {
	position: static;
	text-decoration: underline;
	text-align: center;
	padding-top: 0.8em;
	font-size: 0.8em;
	margin: 0 0 1em 0;
}

#loader {
	background-color: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}
#loader img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -50px;	
}

#admin_links a:hover div {
	background: #5576c7;
}

#admin_links {
	width: 88%;
	position: static;
	margin: 0 auto;
}

#admin_links div {
	text-align: center;
	text-size: 1em;
	line-height:3em;
	display:table-cell;
	vertical-align: middle;
	margin: 2% 0 0 2%;
	width: 47%;
	float: left;
}

#admin_links img {
	max-width: 2em;
	max-height: 1.5em;
	position: relative;
	left: 0.8em;
	bottom: -0.3em;
}


.hideinmobile, #pop_up_wrapper, .pop_up, footer, #distance, #edit{
	display: none;
}


#interactive  video, #interactive canvas {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: auto;
	max-height: none;
	
	position: absolute;
	margin-top: 8em;
	top: 0em;
	left: 0;
	width: 100%;
	height: auto;
}


}