@charset "UTF-8";
/* CSS Document */

input[type="text"], textarea {
	margin: 0;
}

input[type="checkbox"] {
	margin: 0px 8px;
}

h1 {
  text-transform: uppercase;
  color: #023e88;
  padding-top: 80px;
  padding-bottom: 20px;
}

h2{
  font-style: italic;
}

#wrapper {
  line-height:1.25em;
}

#truck_details_container {
  position: relative;
  top: 0px;
  width: 700px;
  margin: 0 auto;
}

#truck_details_container.editing {
  top: 80px;
  overflow-y: scroll;
  height: 460px;
}
#truck_details_container.editing h1{
  display: none;
}


#truck_name, #truck_description , #truck textarea{
  width: 650px;
}

#barcode_picture {
	float: right;
	margin-right: 110px;
}

.entry {
	margin-top: 1em;
	width: 49%;
	float: left;
}
.entry.one_line {
	width: 100%;	
}
.description {
   margin-top: 0;
}

.value {
   width: 90%;
}
.value.input[type="text"] {
	width: 100% !important;
}
.split_in_two {
	width: 42%;
}

.one_row {
	height: 3em;
}

#ok {
	display: none;
}

#show_services {
	padding: 0.5em 0;
}

.hidden {
	display: none;
}

@media only all and (max-width:70em) {
	
	
	h1 {
	  padding-top: 0px;
	  padding-bottom: 0;
	  line-height: 1em;
	}
	#barcode_picture {
	  float: none;
	  display: static;
	  width: 50%;
	  margin-left: 25%;
	}
	
	#truck_details_container {
	  padding: 0 0;
	  margin: 0 0;
	  position: static;
	  width: 100%;
	}
	
	#truck {
		margin: 0 5%;
		margin-top: 4em;
	}
	
	input[type="text"], textarea {
		width: 90%;
		margin: 0;
	}
	
	.entry.one_line_in_mobile {
		width: 100%;
	}
	
	#ok {
		position: static;
		margin-top: 1em;
		margin-bottom: 1em;
		float: right;
	}
	
	
	#new_vehicle_since {
	  padding-bottom: 3em;
	}	
}
